@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap');

/* * {
    outline: 1px solid red;
} */


li {
    list-style: none;
}

.nav {
    position: relative;
}

.brand-name-cont {
    font-family: "Caveat Brush", cursive;
    font-weight: 700;
    font-size: 25px;
}

.main-nav-cont {
    position: absolute;
    left: 300px;
    font-weight: 500;
    font-size: 14px;
    height: 100%;
}

.main-nav-item {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0px 20px;
}


.content {
    position: absolute;
    width: 580px;
    padding: 0px 10px;
    top: 82px;
    left: 0px;
    display: none;
    flex-wrap: wrap;
    background-color: white;
    overflow: hidden;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.drop-down:hover {
    .content{
        display: flex;
    }
}

.drop-down-item {
    height: 60px;
    width: 280px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: 8px;
}

.drop-down-item:hover {
    background-color: rgb(246, 246, 246);
}

.hamburger-cont{
    display: none;
}

@media (max-width : 1050px) {
    .main-nav-cont{
        display: none;
    }

    .hamburger-cont{
        display: block;
    }

    .input-cont input{
        width: 30vw;
    }
}


@media (max-width : 650px) {
    .brand-name-cont{
        display: none;
    }

    .nav{
        padding-left: 10px;
        padding-right: 12px;
    }

}

@media (max-width : 470px) {
    .brand-image-cont{
        display: none;
    }

    .input-cont input{
        width: 55vw;
    }

    .profile-img{
        margin-left: 0px;
    }
    .cart-img{
        margin-left: 0px;
    }
}

@media (max-width : 400px) {

    .input-cont input{
        width: 45vw;
    }
}